<div class="row homepage-contents">


  <div class="col-md-4 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Send Message Blast</button>
    <div class="feature-summary hidden center-block">

      <h3 class="text-center">All Customers MMS</h3>
      <%= form_tag("/notifications/blast", method: "post") do %>
        <%= label_tag(:body, "Body") %><br>
        <%= text_area_tag(:body, nil, :required => true) %><br><br>
        <%= label_tag(:media_url, "Image URL (optional)") %><br>
        <%= text_area_tag(:media_url) %><br><br>
        <%= submit_tag("Send to Everyone!", class: "btn btn-success bl-border") %>
      <% end %>
      <br>
      <a class="close-link">Close</a>

    </div> 

  </div>

  <div class="col-md-4 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Send Targeted Message</button>
    <div class="hidden feature-summary center-block">
      <h3 class="text-center">Targeted MMS</h3>
      <%= form_tag("/notifications/notify", method: "post") do %>
        <%= label_tag(:phone, "Phone") %><br>
        <%= text_field_tag :phone, nil, :required => true %><br><br>
        <%= label_tag(:body, "Body") %><br>
        <%= text_area_tag(:body, nil, :required => true) %><br><br>
        <%= label_tag(:media_url, "Image URL (optional)") %><br>
        <%= text_area_tag(:media_url) %><br><br>
        <%= submit_tag("Send to customer!", class: "btn btn-success bl-border") %>
      <% end %>
      <br>
      <a class="close-link">Close</a>
    </div>
  </div>

  <div class="col-md-4 anchor">
    <button class="btn-lg btn-primary center-block detail-button">Support Options</button>
    <div class="feature-summary hidden center-block">
      <h3 class="text-center google-shorten-header">Shorten Link for Body</h3>
      <a href="https://goo.gl/" target="_blank" class= "btn btn-success center-block">Open Google url tracking in new tab</a><br>


      <form>
        <h3 class="text-center">Select Spreadsheet to Upload Customer Data</h3><br>
        <%= collection_select(:spreadsheet, :identifier, @spreadsheets, :id, :identifier, {:prompt => true}) %>
        <br><br>
        <input type="submit" class="btn btn-success center-block customer-data-upload" value="Upload Customer Data">
      </form><br>

      <a class="close-link">Close</a>
    </div>
  </div>
</div>
