<!DOCTYPE html>
<html>
<head>
  <title>MarketingBlast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Economica|Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body id="primary">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%=link_to "Home", root_path %></li>
    <li role="presentation"><%=link_to "New Information", new_outreach_path %></li>
    <% if !admin_signed_in? %>
      <li role="presentation"><%=link_to "Login", new_admin_session_path %></li>
    <% end %>
    <% if admin_signed_in? %>
      <li role="presentation"><%=link_to "Logout", destroy_admin_session_path, method: "delete" %></li>
    <% end %>
  </ul>

  <%= yield %>

</body>
</html>

<!-- font-family: 'Source Code Pro', monospace;
font-family: 'Economica', sans-serif; -->